body{
	background: url(images/layer0.jpg) repeat;
	padding:0px;
	margin: 0px;
	font-family: Arial, sans-serif;
}
.clearfix
{float:none;
height:0px;}

.wrapper{
	width:1000px;
	min-height:1200px;
	margin:0px auto;
	margin-top:40px;
	margin-bottom:40px;
	padding 0px;
	background: white;
	border:1px solid #ababab;
	border-top:5px solid #f2ac04;
	box-shadow: 0 1px 1px #d9d9d9;
}
.header{
	padding: 35px;
	width:925px;

}
.header-top{
	padding-bottom: 40px;
}
.header-top p{
	color:#929292;
	font-size:12px;
}
.header-top-logo{
	border-right:1px solid #cac8c5;
	display: inline-block;
	padding-right: 40px;
}
.header-top-right{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}
.header-top-right h4{
	color:#f2ac04;
	font-weight: 300;
	line-height:1em;
	padding-top:5px;
	margin:0px;
}
.header-buttom ul{
	border-top:1px solid #929292;
	border-bottom:1px solid #929292;
	width:920px;
	padding: 0px;
	margin:0px auto;
	box-sizing: border-box;
}
.header-buttom li{
	display: inline-block;
	width:125px;
	text-align:left;
	margin-right: -5px;
	padding: 0px;
	box-sizing: border-box;
	min-height:40px;
}
.header-buttom li:nth-child(2n){
	width:155px;
}
.header-buttom li a{
	display:block;
	text-decoration:none;
	color:#929292;
	margin: 0px;
	padding: 12px;
	padding-left: 0px;
}
.header-buttom li a:hover{
	color:#f2ac04;
}
.container{
	padding-left: 45px;
	padding-right: 35px;
	width:auto;
}
.container .leftimageblock{
	float:left;
	margin-right:20px;
}
.leftimageblock-under{
	list-style:none;
	margin:0px;
	padding: 10px;
	padding-bottom:5px;
}
.leftimageblock-under li{
	display: inline-block;
	vertical-align:top;
}
.leftimageblock-under li:nth-child(2){
	width:370px;
	padding-left:50px;
	box-sizing:border-box;
}
.leftimageblock{
	box-shadow: 0 0 0 1px #d4d4d4,
				0 0 0 2px white,
				0 0 0 3px #b0b0b0;
}
.rightimageblock{
	margin:0px;
	padding:0px;
	color:#3c3c3c;
	line-height:1.8;
	font-weight:600;
	font-size:13px;
}
.rightimageblock hr{
	border:none;
	color:black;
	background-color:black;
	height: 1px;
	margin-bottom:20px;
}
.container-line{
	border:none;
	background-color: #cccccc;
	height:1px;
	color:#cccccc;
	margin-bottom:20px;
	margin-top:20px;
}

.left-central-block, .middle-central-block, .right-central-block {
	float:left;
	min-height:300px;
	width:200px;
}
.layout-positioner{
	width:900px;
	margin:0 auto;	
}
.right-central-block{
	margin-right: 0px;
}
.left-central-block li{
	list-style:none;
}